<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Today's Trending Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to post_path(post), class: "btn btn-outline-info btn-sm" do %>
        <i class="bi bi-eye"></i> Show this post
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to new_post_path, class: "btn btn-outline-success btn-lg" do %>
  <i class="bi bi-plus-circle"></i> New post
<% end %>
